<body>
<div id="bg"></div>

<form [formGroup]="formularioLog" (ngSubmit)="login()">
  <div class="form-field">
    <input id="username" name="username" placeholder="Username" formControlName="username" required />
  </div>
  
  <div class="form-field">
    <input id="pass" name="pass" type="password" placeholder="Password" formControlName="pass" required />                        
  </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>

  <div class="form-field">
    <button class="btn-sec" type="button" [routerLink]="'/auth/register'">Registrarme</button>
  </div>
</form>
</body>

